h2.bb-docs {
  font-size: 1.8rem;
  font-family: "MozTT", Sans-serif;
  font-weight: lighter;
  color: #666;
  margin: -0.1rem 0 0;
  background-color: #f5f5f5;
  padding: 0.4rem 0.4rem 0.4rem 3rem;
  border: solid 0.1rem #e8e8e8;
}

div.bb-docs {
  padding: 1rem;
}

div.bb-docs.dark {
  background: #000;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}